# Ignore everything in this directory except what's explicitly allowlisted below.
*
!.gitignore
!vcs.xml
!gradle.xml
!kotlinc.xml
!modules.xml
!codeStyles/
!codeStyles/**
!inspectionProfiles/
!inspectionProfiles/**
!runConfigurations/
!runConfigurations/**